
/* The first section */

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}

.nav-sub {
  background-image: url("../assets/main.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.login {
  border: 0;
  line-height: 0.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: transparent;
}

.login:hover {
  background-color: rgb(6, 1, 1);
}

.first-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* The hero plans */
.first-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dis {
  width: 161.4px;
  height: 45.54;
  object-fit: cover;
}

.dis1 {
  width: 241.1px;
  height: 54.36;
  object-fit: cover;
}

.duo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.trio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.getit {
  border: 0;
  line-height: 2.5;
  width: 300px;
  padding: 0 20px;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #020202;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #1ce783;
}
.getit:hover {
  opacity: 0.5;
}
.terms-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}


/* first text */
.attract1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.attract1 > h4 {
  padding-top: 70px;
}

.attract1 > h1 {
  padding-top: 20px;
}

.attract1 > h3 {
  padding-top: 20px;
  padding-bottom: 70px;
  width: 50%;
  text-align: center;
}

/* library */
.thirdsec {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}
.library {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
}

.libimg {
  border-radius: 20px;
}

.libimg:hover{
  opacity: 0.7;
}

.tv {
  padding: 10px;
  position: relative;
}

.tex{
  position: absolute;
  margin-top:8px;
  margin-left: 5px;
}

.movie {
  padding: 10px;
  position: relative;
}

.original {
  padding: 10px;
  position: relative;
}

.premium {
  padding: 10px;
  position: relative;
}

/* 2nd text */
.attract2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attract2>h4{
    padding-top: 100px;
}

.attract2>h1{
    padding-top: 10px;
}

.attract2>h3{
    padding-top: 20px;
    width: 50%;
    text-align: center;
}

.attract2>h6{
    padding-top: 10px;
    width: 60%;
    text-align: center;
}

.attract2>p{
    padding-top: 10px;
    padding-bottom: 70px;
}

.attract2>button{
    padding-top: 10px;
}

.getit1 {
    border: 0;
    line-height: 2.5;
    width: 300px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    color: #020202;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 220, 62);
  }


/* features section */
.features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.toggle{
  position: absolute;
  margin-right: 300px;
  display: flex;
  padding-bottom: 40%;
  padding-right: 20%;
  gap: 20PX;
  z-index: 1;
}

.sport{
  display: flex;
  flex-direction: column;
  
}
.bckgd{
  width: 100wh;
  object-fit: cover;
}

.sporcont{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 15%;
  margin-left: 16.8%;
  width: 20%;
}
.spor{
  transform: scale(1);
  padding-right: 20%;
}

/* plans details */
.fifthsec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.head{
  align-items: center;
  text-align: center;
  margin-top: 10%;
  width: 65%;
  margin-bottom: 5%;
}

.plan{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px; 
}

.plantyp{
  display: flex;
  flex-grow: 2;
  margin-top: 20px;
  gap: 30px;
}

.base{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* learnt about switch styling through https://www.w3schools.com/howto/howto_css_switch.asp */

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(23, 156, 23);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(23, 156, 23);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.bundle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.espn{
  padding-left: 15%;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.popular{
  border: 0;
  line-height: 2.5;
  width: 150px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.7rem;
  text-align: center;
  color: #020202;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(0, 220, 62);
}

.leftbut{
  border: 0;
  line-height: 2.5;
  width: 250px;
  padding: 0 20px;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #020202;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: aliceblue;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  margin-top: 7%;
}

.tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.tabele{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

.tic2{
  padding-right: 200px;
}

.tic1{
  margin-left: 30%;
}
.tic22{
  margin-left: 6%;
}
.tic3{
  margin-left: 14%;
}
.tic4{
  margin-left: 14.5%;
}
.tic5{
  margin-left: 4%;
}
.tic6{
  margin-left: 25%;
}
.tic7{
  margin-left: 12%;
}
.tic8{
  margin-left: 21%;
}
.tic9{
  margin-left: 24%;
}
.star{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 70px;
}
.addon{
  margin: 20px 0px;
}

/* The final section */
.footer{
  background-color: #e8eaed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.father{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.father>hr{
  opacity: 0.2;
  width: 85%;
}

.cols{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  width: 85%;
}

.col1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col1>a{
  text-decoration: none ;
  color: #586174;
}
.col1>p{
  color: #586174;
}

.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 30px 0px;
  width: 85%;
}

.soc{
  display: flex;
  gap:40px;
}

.copyrights{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  width: 85%;
}

.copyrights>a{
  text-decoration: none ;
  color: #586174;
}
.copyrights>p{
  color: #586174;
}



